
<div class="div-menu">
    <button (click)="toGuardarRol()" > Nuevo Rol </button>
    <button (click)="toModificarRol()" > Modificar Rol </button>
    <button (click)="toConsultaRoles()" > Consultar Roles </button>
    <button (click)="toEliminaRoles()"> Eliminar Rol </button>
    <button (click)="toInicio()" style="background-color: #eeaef1; font-weight: bold;"> INICIO</button>
    <button (click)="toGuardarUser()"> Nuevo usuario </button>
    <button (click)="toModificarUser()" > Modificar Usuario </button>
    <button (click)="toConsultarUsers()"> consultar Usuarios </button>
    <button (click)="toEliminarUser()"> eliminar usuario </button>
</div>
