/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';  
@import "~ngx-spinner/animations/ball-fussion.css";


.modal-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    min-height: calc(100vh - 60px);
  }
  @media (max-width: 767px) {
    .modal-dialog {
      min-height: calc(100vh - 20px);
    }
  }

.div-header{
  display:inline-block; 
  background-color:#4F2361; 
  width:100%; 
  height:auto;
  padding-left: 5%;
}
.div-footer{
  background-color:#2A292E; 
  width:100%;
  height:auto;
  padding-left: 5%;
}
.div-menu{
  background-color:#2A292E; 
  width:100%;
  height:auto;
  padding-left: 5%;
  text-align: center;
}

.div-acustom{
  display:inline;
  color: #FFFFFF;
  font-size:xx-large;
  font-weight: bold;
}

.div-bcustom{
  display:inline;
  color: #FFFFFF;
  font-size:medium;
  font-weight: bold;
}

.div-main{
  padding-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #eeaef1;
  height: 100vh;
  border-color: #2A292E;
  border-width: 10em;
}
.div-login-img{
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  border: 1px solid #2A292E;
  
}
  
.icon-style{
  color: #FFFFFF;
}

.hide {
  display: none;
}
.inner-addon { 
    position: relative; 
}
.inner-addon .far {
  position: absolute;
  padding: 10px 30px;
  z-index: 100;
  cursor: pointer;
}
.left-addon .far  { left:  0px; }
.right-addon .far { right: 0px; }
 
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
